<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="fileSystemSection"
             type="Modul_1_Base_Class_Library.Configuration.FileSystemMonitorConfigSection, Modul_1_Base_Class_Library"/>
  </configSections>
  <fileSystemSection culture="en-US">
    <directories>
      <directory path="D:\"/>
    </directories>
    <rules defaultDir="D:\Files">
      <rule filePattern="1.*" isOrderAppended="false" isDateAppended="false" destFolder="D:\newFiles1"/>
      <rule filePattern="2.*" isOrderAppended="false" isDateAppended="true" destFolder="D:\newFiles2"/>
      <rule filePattern="3.*" isOrderAppended="true" isDateAppended="false" destFolder="D:\newFiles3"/>
      <rule filePattern="4.*" isOrderAppended="true" isDateAppended="true" destFolder="D:\newFiles4"/>
    </rules>
  </fileSystemSection>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>